<ion-content>
  <img src="../assets/pin-on-the-go.png" alt="logo">
  
  <p *ngIf="!userLocation && userLocationError">
    <button ion-button round color="light" outline (click)="requestLocation()">
      Request again
    </button>
  </p>

  <p *ngIf="!userLocation && !userLocationError">
    <button ion-button round color="light" outline disbaled>
      <ion-spinner margin-right color="light" class="spinner-crescent"></ion-spinner>
      Requestion your location...
    </button>
  </p>


  <div *ngIf="userLocation">
    <p *ngIf="!username">
      <button ion-button round color="light" outline (click)="login()">Login with Pinterest</button>
    </p>

    <p *ngIf="username">
      <button ion-button round color="light" outline (click)="logout()">Logged as {{username}} | Logout</button>
    </p>
  </div>

</ion-content>



