page-pins {

    .no-pins {
        background-image: url('../assets/tasse.png');
        background-repeat: no-repeat;
        background-position: center 200px;
    }

    h1 {
        text-align: center;
        padding-top: 230px;
        color: #C8232D;
    }

}
