page-home ion-content.content-md {
    background-color: #C8232D;
    background-image: url('../assets/pinterest-logo-white.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;


    img {
        padding: 50px;
    }

    p {
        position: absolute;
        bottom: 30px;
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }

}
